h2 { 
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: .8em;
}

body{
    font-size: 15px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}

label {
   
    padding: 0 30px;
    
  }


input,select{
    height: 25px;
    font-size: medium;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    border: 1px solid burlywood;
    border-color: black;
}

fieldset{
    border-style:outset;
    border-color: black;
}

button{
    border-style:double outset;
    padding: 5px 20px;
    font-size: larger;
    border-color: black;
}
a{
    color:black;
    text-decoration-line: none;
}
