h2{
    text-align: center;
    
}

body{
    /*color:white;*/
    background-color:burlywood; /*rgb(1, 1, 31); */ 
    font-size: 20px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}

input,select{
    height: 20px;
    font-size: medium;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:antiquewhite;
    border: 1px solid burlywood;
    border-color: black;
}

fieldset{
    border-style:outset;
    border-color: black;
}

/*button{
    border-style:groove;
    background-color:rgb(250, 233, 215);
    font-size: large;
    border-color: black;
    margin-top: 0.1em;
    margin-left: 0.1em;
}*/

label{
    display:block;
    margin-block: 1em;

}
